body{
    font-family:cursive;

}
head{
    /* padding: 0px 100px; */
}
.icon{
    font-size: large;
    color: gray;
}

 /*-------------section1--------------*/
 .carousel-inner{
  /* height: 300px; */
  padding-top: 50px;
  margin: auto;
 }
.inbac{
  margin: auto;
  text-align: center;
height: 500px;
color: #ffffff;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }
 .box1{
    font-family:cursive;
    width: 100%;
    padding: 100px 0px 20px ;
    text-align: center;

 }
 .btn1{
    border-radius: 40px;
    padding: 15px;
    border: solid black 2px;
    background-color: black;
    font-weight: 700;
    font-family:cursive;

color: white;
 }
 .btn1:hover{
    background-color: white;
    color: black;
    border: solid black 2px;
 }
.item1{
  background-image: url(jakub-zerdzicki-2DkNX2wVVY4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
height: 500px;

}
.item2{
  background-image: url(pankaj-patel-Ylk5n_nd9dA-unsplash.jpg);

    background-size: cover;
  background-repeat: no-repeat;
height: 500px;

}
.item3{
  background-image: url(sarah-b-wpAjO6H_65c-unsplash.jpg);

    background-size: cover;
  background-repeat: no-repeat;
height: 500px;

}
 .sec2{
  min-height: 400px !important;
 }
  /*-------------about-sec--------------*/
  .about-sec{
    /* background-color: aliceblue; */
  }
  .box3{
    text-align: center;
    font-family:cursive;

  }
  .box4{
    width:100%;
    min-height: 400px;
    margin: auto;
  }
  .box{
    background-color: rgba(255, 0, 0, 0.255);
    width: 200px;
    height: 10px;
    border-radius: 20px;

  }
  .inbox h6{
    text-align: end;
  }

  .inbo {
 border-radius: 40px;
    height: 10px;
    animation: colorChange 2s;
    animation-fill-mode: forwards;
  }
  @keyframes colorChange {
    0%   { background-color: red;
        margin-right: 200px;
    
    }
    100% { background-color: red;
        margin-right: 20px; 
    }
  }

  .inbo2 {
 border-radius: 40px;
    height: 10px;
    animation: colorChange2 2s;
    animation-fill-mode: forwards;
  }
  @keyframes colorChange2 {
    0%   { background-color: red;
        margin-right: 200px;
    
    }
    100% { background-color: red;
        margin-right: 60px; 
    }
  }


  .inbo3 {
 border-radius: 40px;
    height: 10px;
    animation: colorChange3 2s;
    animation-fill-mode: forwards;
  }
  @keyframes colorChange3 {
    0%   { background-color: red;
        margin-right: 200px;
    
    }
    100% { background-color: red;
        margin-right: 30px; 
    }
  }


  .inbo4 {
 border-radius: 40px;
    height: 10px;
    animation: colorChange4 2s;
    animation-fill-mode: forwards;
  }
  @keyframes colorChange4 {
    0%   { background-color: red;
        margin-right: 200px;
    
    }
    100% { background-color: red;
        margin-right: 90px; 
    }
  }

/* <!-----------------------resume-sec----------------------------------> */
.box6{
  text-align: center;

}
/* <!-----------------------servies-sec----------------------------------> */
.box7{
   text-align: center;
}
.box8{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: safe;
}
.bi{
  font-size: 50px;

}
.in-icon{
  width: 100px;
  border-top-right-radius: 50px;
border-top-left-radius: 30px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 40px;
}
.in-icon:hover{

  background-color:aqua ;
  transition: 1s;
  text-align: center;
}
.in-icon2:hover{

  background-color:orange ;
  transition: 1s;
  text-align: center;
}
.in-icon3:hover{

  background-color:green ;
  transition: 1s;
  text-align: center;
}
.in-icon4:hover{

  background-color:purple ;
  transition: 1s;
  text-align: center;
}
.icon1{
  color: aqua;
}
.in-icon:hover .icon1{
  color: white;
}
.icon2{
  color: orange;
}
.in-icon2:hover .icon2{
  color: white;
}
.icon3{
  color: green;
}
.in-icon3:hover .icon3{
  color: white;
}
.icon4{
  color: purple;
}
.in-icon4:hover .icon4{
  color: white;
}
/* <!-----------------contact-sec---------------------> */
.contact-sec {
  min-height: 500px;
}
.inbox9{
  height: 300px;
  background-color: aliceblue;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
}

.inbox10{
  width: 00px;
}
.in{
display: flex;
justify-content:start;
align-items:center;
gap: 30px;
}
.map-box  h6 {
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.map-box:hover  h6{
  color: orange;
  gap: 10px;
  transition: .8s;
}
.bi1{
  font-size: 25px;
}
.form-box {
  background-color: aliceblue;
  min-height: 400px;
  border-radius: 20px;
  /* max-width: 500px; */
  margin: auto;
  width: 100%;
}
.form-box form{
  width: 100%;
}
/* <!-----------------Team-sec---------------------> */

.team-sec5{
    min-height: 500px;
    padding: 50px 20px;
}
.team-box4{
    width: 100%;
    display: flex;
    justify-content:flex-start;
align-items: center;
height:200px;
padding: 50px;
}
.team-inbox4{
    width: 500px;
    height: 100px;
}
.team-box-5{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* justify-content: center; */

flex-wrap: wrap;
}
.team-box5{
    height: 400px;
display: flex;
flex-direction:column;
justify-content: space-between;
align-items: center;
border: solid;
margin:10px;
}
.img1{
    width: 30px;
    height: 30px;
    background-color: rgb(231, 221, 221);
border-radius: 4px;
    padding: 5px;
transform: translateY(200px);
transition:.8s;
  
}
.team-inbox5:hover .img1{
transform: translateY(0px);
}

.team-inbox6:hover .img1{
    transform: translateY(0px);
    }
    
    .team-inbox7:hover .img1{
        transform: translateY(0px);
        }
        
        .team-inbox8:hover .img1{
            transform: translateY(0px);
            }
            
            .team-inbox9:hover .img1{
                transform: translateY(0px);
                }
                
.img1:hover{
    background-color: transparent;
    color: white ;

    
    }
 .team-box5{
  border-radius: 30px;
  overflow: hidden;
 }   

.team-inbox5{
    
    background-image: url(jorik-kleen-lNNHyRbmm0o-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
width: 250px;
height: 300px;
background-color: var(---color-1);
display: flex;
justify-content: space-evenly;
align-items: flex-end;
padding:50PX 0px;
overflow: hidden;
}
.team-inbox6{
    background-image: url(ospan-ali-6xv4A1VA1rU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
width: 250px;
height: 300px;
background-color: var(---color-1);
display: flex;
justify-content: space-evenly;
align-items: flex-end;
padding:50PX 0px;
overflow: hidden;
}
.team-inbox7{
    background-image: url(mike-santos-wUTQBfuDKr8-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
    background-color: var(---color-1);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding:50PX 0px;
    overflow: hidden;
}
.team-inbox8{
    background-image: url(stefan-stefancik-QXevDflbl8A-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 250px;
    height: 300px;
    background-color: var(---color-1);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding:50PX 0px;
    overflow: hidden;
}
.team-inbox9{
    background-image: url(dmitry-vechorko-E9PFbdhZmus-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 250px;
    height: 300px;
    background-color: var(---color-1);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding:50PX 0px;
    overflow: hidden;
}


/* -----------------blog-sec----------------- */

.blog-sec{
  min-height: 700px;
  padding-top: 100px;
}

.blog-img-box img:hover{
  transform: scale(1.1);
    transition: .5s;
}
.blog-box{
  /* background-color: antiquewhite; */
  padding: 20px 10px;
  border-radius: 50px;
}
.blog-img-box{
  height: 350px;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  transition: 1s;
  border-radius: 50px;

}
.blog-content{
  text-align: center;
}

@media(max-width:500px){
  .in{
    display:none;
  }
}

@media(max-width:600px){
 .footer-box .iin .footer-icon{
  font-size: medium;
 
  }
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 200px !important;
  min-width: 100px;
  border: var(--accent-color) solid 3px;
}

.gallery .gallery-item img {
  transition: 0.3s;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.gallery .gallery-links {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  line-height: 1.2;
  margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
  color: #ffffff;
}

.gallery .gallery-links .details-link {
  font-size: 30px;
  line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
  opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
  margin-top: 0;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

.glightbox-clean .gslide-description {
  background: #272727;
}

.glightbox-clean .gslide-title {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}
.footer-icon {
  font-size: 25px;
  color: #ffffff;
  
}
.footer-box .iin{
  display: flex;
  gap: 20px;
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/
.gallery .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 200px !important;
  min-width: 100px;
  border: var(--accent-color) solid 3px;
}

.gallery .gallery-item img {
  transition: 0.3s;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.gallery .gallery-links {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
}

.gallery .gallery-links .preview-link,
.gallery .gallery-links .details-link {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  line-height: 1.2;
  margin: 30px 8px 0 8px;
}

.gallery .gallery-links .preview-link:hover,
.gallery .gallery-links .details-link:hover {
  color: #ffffff;
}

.gallery .gallery-links .details-link {
  font-size: 30px;
  line-height: 0;
}

.gallery .gallery-item:hover .gallery-links {
  opacity: 1;
}

.gallery .gallery-item:hover .preview-link,
.gallery .gallery-item:hover .details-link {
  margin-top: 0;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

.glightbox-clean .gslide-description {
  background: #272727;
}

.glightbox-clean .gslide-title {
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
}


.contacthero{
  text-align: center;
  background-image: url(pexels-ink-drop-118789-15387699.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.abouthero{
  text-align: center;
  background-image: url(web-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.servicehero{
    text-align: center;
  background-image: url(Get-the-Most-Fancied-Web-Development-Services-min-scaled.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.bacground{
  min-height: 400px;
  background-color: rgba(0, 0, 0, 0.416);
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}