*{
    box-sizing: border-box;
    margin: 0px;
}

.OVER
{overflow: hidden;
}
.sec1{background-color:rgb(10, 10, 114);
    /* min-height: 100px !important; */

}

.bi1{color: white;}

.sec2{ background-color: rgb(90, 90, 180);}
.b{

    color: white;
    margin-left: 1px ;

}
.sec3 {
    width: 100%;
    min-height: 400px;
    background-image: url('images/zoshua-colah-h9JYJ6AHmZA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
.bac{ background-color: rgba(59, 59, 182, 0.39);

}
.box2{ 
    text-align: center;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.sec4{
        min-height: 500px;
    }
    .box3{ 
        text-align: center;
        /* height: 300px; */
     
        padding: 40px;
        /* color: white; */
        }
        .box5{text-align: center;
        min-height: 300px;
        margin-top: 10px;

        }
.box4{

width: 100px;
height: 4px;
background-color: blue;
margin: auto;
        }


.e{ 
    background-color:blue;
min-height: auto;
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
padding: 50px;
    
    
}

.center{
    text-align: center;
    display: flex;
    align-items: center;
    margin-top:40px;
}


.g{ border-radius: 45%;
    width:35px;
    height: 30px;
background-color: aliceblue;
}


.h{ color: aliceblue;
text-align: center;
margin-top: 10px;}

.sec6{
    min-height: 500px;
}
.J{
    text-align: center;
    padding: 10px;
}
.k{
background-color: blue;
width: 40px;
height:2px;
margin: auto;
}
.box{
    min-width: 100px;
    height: 300px;
    padding: 10px ;
    margin: auto;
}
.box6{
    padding: 10px;
    /* margin-left: 30px; */
    /* text-align: center; */
    height: 350px;
    margin: auto;
    min-width: 100px;
    text-align: center;
    background-color: rgba(199, 199, 199, 0.418);
    border-radius: 20px;
    

}
.box6 .img-box{
  height: 100PX;
}
.box6 a{
text-decoration: none;
color: rgb(107, 107, 107);}
.sec{
    min-height: 700px;
}
.box6:hover{
    transform:matrix(40deg);
}
.box8{

    
    text-align: center;
}
.c
             
.colum{
    /* height: 250px; */
    object-fit: cover;
    margin: auto;
}
.m{
    height: 100px;
    object-fit: cover;
}
.box7{
/* padding: 60px; */
width: 200px;
margin: auto;
/* margin: 20px ; */
display: flex;
align-items: center;
justify-content: center;
}
.x{
    text-align: center;

}
.z{
background-color: blue;
padding:10px ;
}
.box9{color: aliceblue;}


/* 
    #mynavbar ul  {
display: flex;
gap: 10px;
    } */
    .box2 h1{
       width: 100%;
       margin: auto;
    }
@media (max-width:1200px) {

    .medium-center{
       text-align: center;
    }
}
@media (max-width:996px) {
    .center h1 {
   font-size: large !important;
    } 
    .box2 h1{
        font-size: 25px;
    }
    #mynavbar ul li a{
        font-size: small;
    }
}
@media (max-width:860px) {

       #mynavbar ul li a{
        font-size: 12px;
        /* padding: 0px; */
    }
}
@media (max-width:762px) {

    .box2 h1{
        font-size: 15px;
    }
       #mynavbar ul li a{
        font-size: x-small;
    }
}
@media (max-width:576) {

    .medium-center{
       text-align: center;
    }
}
